html {
    background-color: #f8fff6;
  }
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    float:left;
  }
.nav li a:hover {
    background-color: orange;
  }
.nav a{
    display:block;
    margin: 20px 0;
    padding: 15px 90px;
    background-color: greenyellow;
}
.nav img{
    display:block;
    padding: 0 20px;
    width: auto;
    height: 100px;

}